body{
	background-image: url(../images/jellyfish-cartoon.png);
	background-size: cover;
	background-color: #000;
	font-family: 'Fresca', sans-serif;
}
 h1 {
 	color: #eb32eb;
 	font-size: 50px;
 }
  h3 {
  	color: #eee;
  }

#firstrow {
	padding-left: 0px;
}

.jellydiv {
	background-color: #eb32eb;
	width: 130px;
	height: 140px;
	border: 1px solid #111;
	display: inline-block;
}

.jellydiv p {
	margin-bottom: 0;
}

.jellyEnemy {
	background-color: #5bf8f2;
}

.words {
	color: #eee;
	padding-left: 0px;
	font-size: 20px;
	padding-top: 15px;
}
