body{
	
	background-color: #111;
	background-size: cover;
	font-family: 'Fresca', sans-serif;
}
 h1 {
 	color: #ddd;
 	font-size: 50px;
 }
  h3 {
  	color: #ddd;
  }

#firstrow {
	padding-left: 0px;
}

.jellydiv {
	background-color: #ddd;
	width: 130px;
	height: 140px;
	border: 1px solid #111;
	display: inline-block;
}

.jellydiv p {
	margin-bottom: 0;
}

.jellyEnemy {
	background-color: #eb32eb;
}

.words {
	color: #ddd;
	padding-left: 0px;
	font-size: 20px;
	padding-top: 15px;
}
